.gray-backgroun.gray-bottom-border
  .container.page-width-container
    .row.top-spacer.bottom-spacer
      .col-xs-3
        = image_tag @business.main_picture, width: "100%"
      .col-xs-6
        .ul
          .li
            %h3= @business.name
          .li
            %h5= @business.category.name
          .li
            %h5= "#{@business.average_rating} Stars - #{@business.reviews.count} reviews".html_safe
          .li
            = @business.address
          .li
            = @business.city
          .li
            = @business.postcode
          .li
            = @business.country
          .li
            = @business.phone_number
          .li
            = link_to @business.web_address, "http://#{@business.web_address}"
      .col-xs-3
        %button.btn.btn-yelq-red= link_to "Write a Review", new_business_review_path(@business)
.white-background.gray-bottom-border
  .container.page-width-container
    .row.top-spacer
      .col-xs-10.col-xs-offset-1
        .gray-bottom-border.clearfix
          .business-reviews-title.bottom-spacer
            %h3.yelq-title
              Reviews
    - @reviews.each do |review|
      .row
        .review-container.clearfix
          .col-xs-2.col-xs-offset-1.text-center
            =image_tag avatar_url(review.creator), size: "128x128"
          .col-xs-8
            .review-title.clearfix
              .review-title-line.clearfix
                .review-name-place
                  = "Review by "
                  = link_to "#{review.creator.first_name} #{review.creator.last_name_intital}", user_path(review.creator)
                .review-time-ago.small.text-muted
                  = "#{time_ago_in_words(review.created_at)} ago"
              .review-title-line.clearfix
                .review-stars
                  = "#{review.rating}/5 Stars"
                .review-date.text-muted
                  = format_datetime(review.created_at)
            .review-text.top-spacer
              = review.content
      .row
        .col-xs-8.col-xs-offset-3
          .gray-bottom-border
