.gray-background.gray-bottom-border
  .container.page-width-container
    .row.top-spacer.bottom-spacer
      .col-xs-3
        .business-photo
          = image_tag @business.main_picture_url, width: "100%"
      .col-xs-6
        .ul
          .li
            %h3= @business.name
          .li
            %h5= @business.category.name
          .li
            %h5= "4.3 Stars - #{link_to '12 reviews', '#'}".html_safe
          .li
            = @business.address
          .li
            = @business.city
          .li
            = @business.country
          .li
            = @business.phone_number
          .li
            = link_to @business.web_address, "http://#{@business.web_address}"
      .col-xs-3
        = link_to "Write a Review", new_review_path(business_id: @business.id)
