.container.page-container
  .row.bottom-spacer
    .col-xs-6.col-xs-offset-3
      .row
        .col-xs-10.col-xs-offset-1
          %h4.yelq-title.bottom-spacer.gray-bottom-border Edit account details
          = bootstrap_form_for @user do |f|
            .col-xs-6.small-right-gutter
              = f.text_field :first_name, hide_label: true, placeholder: "First Name"
            .col-xs-6.small-left-gutter
              = f.text_field :last_name, hide_label: true, placeholder: "Last Name"
            .col-xs-12.no-side-padding
              = f.email_field :email, hide_label: true, placeholder: "Email Address"
            .col-xs-12.no-side-padding
              = f.password_field :password, hide_label: true, placeholder: "password (required)"
            .col-xs-3.col-xs-offset-9.no-side-padding
              = f.submit value: "Update", class: "btn btn-yelq-gray pull-right"
