%header
  .header-background
    .container.page-width-container
      .header-content-container
        .row
          .col-xs-2
            .header-logo.text-center
              yelq*
          .col-xs-8
            .row
              %form
                .form-group.form-group-mini.col-xs-6
                  .input-group
                    .input-group-addon.search-label Find
                    %input.form-control.red-border.input-sm(type="text" placeholder="sushi")
                .form-group.form-group-mini.col-xs-6
                  .input-group
                    .input-group-addon.search-label Near
                    %input.form-control.red-border.input-sm(type="text" placeholder="Tokyo")
            .row.header-navigation-buttons.header-link-text
              %ul.list-inline.col-xs-12
                %li
                  = link_to "Home", '/ui/front'
                %li
                  = link_to "About Me", '/ui/user'
                %li
                  = link_to "Write a Review", '/ui/review_new'
                %li
                  = link_to "Business Index", businesses_path
          .col-xs-2
            -if signed_in?
              %ul
                %li.dropdown.user-name-dropdown-button
                  %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
                    #{current_user.first_name}
                    %b.caret
                  %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
                    %li
                      %a= link_to "About me", "#"
                      %a= link_to "Account settings", "#"
                      %a= link_to "Log out", logout_path

            -else
              .header-sign-in-up.header-link-text.text-center
                %ul
                  %li
                    .btn.btn-header
                      = link_to "Sign Up", signup_path
                  %li.log-in-container.header-top-spacer
                    .btn-header-mini
                      = link_to "Log In", login_path
