%header
  .header-background
    .container.page-width-container
      .header-content-container
        .row
          .col-xs-2
            .header-logo.text-center
              =link_to "yelq*", root_path
          .col-xs-8
            .row
              = form_tag(search_businesses_path, method: 'get') do
                .col-xs-5.form-group.form-group-mini
                  .input-group
                    .input-group-addon.search-label Find
                    = search_field_tag 'name', nil, type: 'submit', placeholder: 'sushi', class: 'form-control red-border input-sm'
                .col-xs-5.form-group.form-group-mini
                  .input-group
                    .input-group-addon.search-label Near
                    = search_field_tag 'city', nil, placeholder: 'Tokyo', class: 'form-control red-border input-sm'
                .col-xs-1.no-side-padding
                  = button_tag(type: "submit", class: "form-control red-border yelq-search-btn") do
                    %span.glyphicon.glyphicon-search
            .row.header-navigation-buttons.header-link-text
              %ul.list-inline.col-xs-12
                %li
                  = link_to "Home", root_path
                - if logged_in?
                  %li
                    = link_to "About Me", user_path(current_user)
                %li
                  = link_to "Business Index", businesses_path
                %li
                  = link_to "Add Business", new_business_path
          .col-xs-2
            -if logged_in?
              %ul
                %li.dropdown.user-name-dropdown-button
                  %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
                    #{current_user.first_name}
                    %b.caret
                  %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
                    %li
                      %a= link_to "About me", user_path(current_user)
                      %a= link_to "Account settings", edit_user_path(current_user)
                      %a= link_to "Log out", logout_path
            -else
              .header-sign-in-up.header-link-text.text-center
                %ul
                  %li
                    .btn.btn-header
                      = link_to "Sign Up", signup_path
                  %li.log-in-container.header-top-spacer
                    .btn-header-mini
                      = link_to "Log In", login_path
