%header
  .header-background
    .container.page-width-container
      .header-content-container
        .row
          .col-xs-2
            .header-logo.text-center
              yelq*
          .col-xs-8
            .row
              %form
                .form-group.form-group-mini.col-xs-6
                  .input-group
                    .input-group-addon.search-label Find
                    %input.form-control.red-border.input-sm(type="text" placeholder="sushi")
                .form-group.form-group-mini.col-xs-6
                  .input-group
                    .input-group-addon.search-label Near
                    %input.form-control.red-border.input-sm(type="text" placeholder="Tokyo")
            .row.header-navigation-buttons.header-link-text
              %ul.list-inline.col-xs-12
                %li
                  = link_to "Home", '/ui/front'
                %li
                  = link_to "About Me", '/ui/user'
                %li
                  = link_to "Write a Review", '/ui/review_new'
                %li
                  = link_to "Business Index", '/ui/business_index'
          .col-xs-2
            .header-sign-in-up.header-link-text.text-center
              %ul
                %li
                  .btn.btn-header
                    = link_to "Sign Up", '/ui/signup'
                %li.log-in-container.header-top-spacer
                  .btn-header-mini
                    = link_to "Log In", '/ui/login'
